/*
 * Custom styles by alexantr
 */
body {
    font: 12px Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
    margin: 15px;
}
.cke_editable {
    font-size: 14px;
    line-height: 1.5em;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2em;
}
.cke_editable h1, .cke_editable h2, .cke_editable h3, .cke_editable h4, .cke_editable h5, .cke_editable h6 {
    font-weight: normal;
    line-height: 1.2em;
}
.cke_editable h1 {
    font-size: 2em;
}
.cke_editable h2 {
    font-size: 1.8em;
}
.cke_editable h3 {
    font-size: 1.6em;
}
.cke_editable h4 {
    font-size: 1.4em;
}
.cke_editable h5 {
    font-size: 1.2em;
}
.cke_editable h6 {
    font-size: 1em;
}

ul, ol {
    list-style-position: outside;
    margin-left: 3em;
    padding: 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-left: 1.5em;
}

a {
    color: #0782c1;
    text-decoration: underline;
}
a img {
    border: none;
}
a > img {
    outline: 2px solid #0782c1;
}
abbr {
    border-bottom: 1px dotted #666;
}
small, sup, sub {
    font-size: 11px;
}
address, dfn, var {
    font-style: italic;
}
ins {
    text-decoration: underline;
}
del {
    text-decoration: line-through;
}

blockquote {
    font: normal 14px Georgia, "Times New Roman", serif;
    font-style: italic;
    margin: 0 3em;
    padding: 2px 10px;
}
.cke_contents_ltr blockquote {
    border-left: 5px solid #ccc;
}
.cke_contents_rtl blockquote {
    border-right: 5px solid #ccc;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}
.cke_editable pre {
    background-color: #eee;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    padding: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.cke_editable .pull-left,
.cke_editable .alignleft,
.cke_editable .left {
    float: left;
}
.cke_editable .pull-right,
.cke_editable .alignright,
.cke_editable .right {
    float: right;
}

.cke_editable img {
    max-width: 100%;
    height: auto;
}
.cke_editable img.aligncenter,
.cke_editable img.center {
    display: block;
    margin: 0 auto 1rem;
}
.cke_editable img.pull-left,
.cke_editable img.alignleft,
.cke_editable img.left {
    margin: 0 1rem 1rem 0;
}
.cke_editable img.pull-right,
.cke_editable img.alignright,
.cke_editable img.right {
    margin: 0 0 1rem 1rem;
}
